@model BESL.Application.Common.Models.View.AllTournamentsViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<a class="nav-link text-light dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-trophy text-white"></i>&nbsp;Tournaments</a>
<div class="dropdown-menu">
    @if (Model.Tournaments.Count() != 0)
    {
        @foreach (var tournament in Model.Tournaments)
        {
            <a class="dropdown-item" href="/Tournaments/@tournament.Id">@tournament.Name</a>
        }
    }
    else
    {
        <a class="dropdown-item">"No current active tournaments."</a>
    }
</div>
