@model IEnumerable<BESL.Application.Common.Models.Lookups.TournamentSelectItemLookupModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<a class="nav-link text-light dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-trophy text-white"></i>&nbsp;Tournaments</a>
<div class="dropdown-menu">
    @if (Model.Count() != 0)
    {
        @foreach (var tournament in Model)
        {
            <a class="dropdown-item" asp-controller="Tournaments" asp-action="Details" asp-route-id="@tournament.Id">@tournament.Name</a>
        }
    }
    else
    {
        <a class="dropdown-item">"No current active tournaments."</a>
    }
</div>
