@{
    ViewData["Title"] = "Create a team";
}
<div class="border rounded">
    <h4 class="display-4 mt-2 mx-3">Create a team</h4>
    <hr />
    <div class="row">
        <div class="col-md-7">
            <form class="mx-3 my-2">
                <div class="form-group">
                    <label for="teamName">Team name</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter team name...">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <textarea type="text" class="form-control" id="exampleInputPassword1" placeholder="Password"></textarea>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

