@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h4 class="display-4 mb-2">Account settings</h4>
<div>
    <div class="row">
        <div class="col-md-3 mb-3">
            <div class="rounded border px-md-2 shadow">
                <partial name="_ManageNav" />
            </div>
        </div>
        <div class="col-md-9 border rounded shadow">
            <div class="mt-2 mb-2">
                @RenderBody()
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
