@model BESL.Application.Notifications.Queries.GetNotificationsForPlayer.PlayerNotificationsViewModel
<a class="nav-link text-light dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        @if (Model.Notifications.Count() > 0)
        {
            <span class="badge badge-danger">@Model.Notifications.Count()</span>@:&nbsp;
        }
        <i class="fas fa-bell text-white"></i>
    </a>
    <div class="dropdown-menu mx-2" id="notificationMenu">
        <h6 class="h5 mx-2 mt-2 text-muted">Notifications</h6>
        <hr />
        @if (Model.Notifications.Count() != 0)
        {
            <ul class="list-group">
            @foreach (var notification in Model.Notifications)
            {
                <li class="list-group-item mx-2 my-2 bg-light">
                    <div class="container notification">
                            <div class="media mx-n4">
                                <div class="media-body">
                                    <div class="d-flex">
                                        <h5 class="text-break">@notification.Header</h5>
                                        <div class="ml-auto">
                                            <form>
                                                <button class="btn btn-sm btn-light"><i class="fas fa-times-circle"></i></button>
                                            </form>
                                        </div>
                                    </div>
                                    <p class="text-break">@notification.Content</p>
                                </div>                              
                        </div>
                    </div>
                </li>
            }
            </ul>
        }
        else
        {
            <a class="dropdown-item">No notifications.</a>
        }
    </div>
  