<!DOCTYPE html>
<html>
<head>
    <partial name="~/Views/Shared/Partials/_HeadImportsPartial.cshtml" />
</head>
<body>
    <header>
        <partial name="~/Views/Shared/Partials/_NavbarPartial.cshtml" />
    </header>
    <div class="container">
        <partial name="~/Views/Shared/Partials/_CookieConsentPartial.cshtml" />
        <main role="main" class="pb-3">
            <div style="display:none" id="alertPanel"></div>
            @RenderBody()
        </main>
    </div>
    <partial name="~/Views/Shared/Partials/_FooterPartial.cshtml" />
    <partial name="~/Views/Shared/Partials/_ScriptsImportPartial.cshtml" />
    <partial name="~/Views/Shared/Partials/_ValidationScriptsPartial.cshtml" />
    @RenderSection("Scripts", required: false)
</body>
</html>
