@{
    ViewData["Title"] = "Forbidden";
}
<header>
    <div class="text-center">
        <h1 class="text-danger display-3">@ViewData["Title"]</h1>
        <h3 class="text-danger">You do not have access to this resource!</h3>
    </div>
</header>
