<footer class="footer bg-dark text-white">
    <div class="container">
        &copy; @DateTime.UtcNow.Year - Bulgarian Esports League - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>