<nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BESL</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <partial name="_LoginPartial" />
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-home text-white"></i>&nbsp;Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-controller="Games" asp-action="All"><i class="fas fa-gamepad text-white"></i>&nbsp;Games</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link text-light dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-trophy text-white"></i>&nbsp;Tournaments</a>
                    @await Component.InvokeAsync("ActiveTournamentsDropDownVC");
                    @*<vc:active-tournaments-drop-down-VC></vc:active-tournaments-drop-down-VC>*@       
                </li>
            @if (User.IsInRole(Role.Administrator.ToString()))
            {
                <li class="nav-item">
                    <a class="nav-link text-white" asp-area="Administration" asp-controller="Home" asp-action="Index"><i class="fas fa-user-shield text-white"></i>&nbsp;Administration</a>
                </li>
            }
            </ul>
        </div>
    </div>
</nav>