<form asp-controller="Search" asp-action="Index" method="get">
    <div class="input-group input-group-sm mt-1">
        <div class="input-group-prepend">
            <button class="input-group-text" id="inputGroup-sizing-default"><i class="fas fa-search"></i></button>
        </div>
        <input id="Query" name ="Query" placeholder="Search">
    </div>
</form>