<form>
    <div class="input-group input-group-sm mt-1">
        <div class="input-group-prepend">
            <button class="input-group-text" id="inputGroup-sizing-default"><i class="fas fa-search"></i></button>
        </div>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Search">
    </div>
</form>