@{
    Layout = null;
}
<div id="spinner" class="mb-3" style="display:none">
    <h5 class="display-4 d-flex flex-row justify-content-center">Loading</h5>
    <span class="d-flex flex-row justify-content-center">
        <i class="fas fa-sync-alt fa-spin fa-3x"></i>
    </span>
</div>