@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <partial name="~/Views/Shared/Partials/_HeadImportsPartial.cshtml" />
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <header>
        <partial name="~/Views/Shared/Partials/_NavbarPartial.cshtml" />
    </header>
    <div class="container-fluid">
        <partial name="~/Views/Shared/Partials/_CookieConsentPartial.cshtml" />
        <main role="main" class="pb-3">
            <div class="row">
                <div class="col-md-3 mb-3">
                    <partial name="~/Areas/Administration/Views/Shared/_ManageAdminNav.cshtml" />
                </div>
                <div class="col-md-9">
                    @*Alerts render below*@
                    <div style="display:none" id="alertPanel"></div>
                    @RenderBody()
                </div>
            </div>
        </main>
    </div>
    <partial name="~/Views/Shared/Partials/_FooterPartial.cshtml" />
    <partial name="~/Views/Shared/Partials/_ScriptsImportPartial.cshtml" />
    <partial name="~/Views/Shared/Partials/_ValidationScriptsPartial.cshtml" />
    @RenderSection("Scripts", required: false)
</body>
</html>
