@model BESL.Application.Games.Queries.GetGameDetails.GameDetailsViewModel
@{
    ViewData["Title"] = Model.Name;
}

<div class="row">
    <div class="col-sm-12">
        <h3 class="display-4">@Model.Name</h3>
        <hr />
    </div>
    <div class="lead col-sm-6">
        <p>@Model.Description</p>
    </div>
    <div class="col-sm-6">
        <div class="d-flex justify-content-center">
            <img src="@Model.GameImageUrl" class="img-fluid rounded-lg shadow border" alt="Responsive image">
        </div>
    </div>
</div>
<h4>Current active tournamets:</h4>
<vc:active-tournaments-table></vc:active-tournaments-table>

