@model BESL.Application.Games.Queries.GetGameDetails.GameDetailsViewModel
@{
    ViewData["Title"] = Model.Name;
}


<div class="row">
    <div class="col-sm-12">
        <h3 class="display-4">@Model.Name</h3>
        <hr />
    </div>
    <div class="lead col-sm-6">
        <p>@Model.Description</p>
    </div>
    <div class="col-sm-6">
        <img src="https://steamcdn-a.akamaihd.net/steam/apps/730/header.jpg?t=1554409309" class="img-fluid rounded-lg shadow border" alt="Responsive image">
    </div>
</div>

<div class="row mt-3">
    <div class="col-sm-12 border shadow rounded">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Status</th>
                    <th scope="col">Name</th>
                    <th scope="col">Format</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Teams participated</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
