@model BESL.Application.TournamentFormats.Commands.Create.CreateTournamentFormatCommand
@{
    ViewData["ActivePage"] = ManageAdminNavPages.TournamentFormats;
    ViewData["Title"] = "Tournament formats";
}
<div class="border rounded container-fluid float-left col-lg-6">
    <div class="container-fluid mt-2 mb-3">
        <h2>Create a tournament format</h2>
        <form id="formatCreateForm" class="mb-3" enctype="multipart/form-data" method="post">
            <div class="form-group">
                <label asp-for="Name">Name</label>
                <input type="text" class="form-control" asp-for="Name" placeholder="Enter name..." />
                <span asp-validation-for="Name" class="text-danger"></span>
                <small id="formatNameHelp" class="form-text text-muted">The format's title.</small>
            </div>
            <div class="form-group">
                <label asp-for="Description">Description</label>
                <textarea class="form-control" asp-for="Description" rows="5" placeholder="Enter description..."></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
                <small id="formatDescHelp" class="form-text text-muted">Description of the competitive format.</small>
            </div>
            <div class="form-group">
                <label asp-for="TeamPlayersCount">Players count per team</label>
                <input class="form-control" asp-for="TeamPlayersCount" placeholder="Enter team players count..." />
                <span asp-validation-for="TeamPlayersCount" class="text-danger"></span>
                <small id="formatPlayerCountHelp" class="form-text text-muted">Number of players per team, total count would be this value multiplied by two.</small>
            </div>
            <div class="form-group">
                <label asp-for="GameId">Game</label>
                <select class="form-control" asp-for="GameId" asp-items="Model.Games.Select(x => new SelectListItem() { Value = x.Id.ToString(), Text = x.Name }).ToList()"></select>
            </div>
            <button type="submit" class="btn btn-primary btn-block mt-3"><i class="fas fa-plus-circle"></i>&nbsp;Submit</button>
        </form>
    </div>
</div>