@{
    ViewData["Title"] = "Administration";
}
<div class="row">
    <div class="col-md-4">
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-game" role="tab" aria-controls="games" data-ajax="true" data-ajax-url="/Administration/Games/All" data-ajax-method="GET" data-ajax-update="#gamesInfo">Games</a>
            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile" data-ajax="true" data-ajax-url="/" data-ajax-method="get" data-ajax-update="#panel">Profile</a>
            <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="buttonDemo1" role="tab" aria-controls="messages">Messages</a>
            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Settings</a>
        </div>
    </div>
    <div class="col-md-8">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-game" role="tabpanel" aria-labelledby="list-games-list" data-ajax="true" data-ajax-url="/Administration/Games/Create" data-ajax-update="#gameInfo">
                <div id ="gamesInfo"class="container mt-1 border rounded">                    
                </div>
            </div>
            <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                <div class="container mt-1 border rounded">
                    <div id="panel"></div>
                </div>
            </div>
        </div>
    </div>
</div>