@{
    ViewData["Title"] = "Administration";
}
<div class="row">
    <div class="col-md-3">
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="games" data-toggle="list" href="#list-game" role="button" aria-controls="games" data-ajax="true" data-ajax-loading="#spinner" data-ajax-url="/Administration/Games/All" data-ajax-method="GET" data-ajax-update="#gamesMainContainer"><i class="fas fa-gamepad"></i>&nbsp;Games</a>
            <a class="list-group-item list-group-item-action" id="tournaments" data-toggle="list" href="#list-tournament" role="tab" aria-controls="tournaments" data-ajax="true" data-ajax-loading="#spinner" data-ajax-url="/" data-ajax-method="get" data-ajax-update="#tournamentsMainContainer"><i class="fas fa-trophy"></i>&nbsp;Tournaments</a>
            <a class="list-group-item list-group-item-action" id="teams" data-toggle="list" href="buttonDemo1" role="tab" aria-controls="teams"><i class="fas fa-users"></i>&nbsp;Teams</a>
            <a class="list-group-item list-group-item-action" id="players" data-toggle="list" href="#list-settings" role="tab" aria-controls="teams"><i class="fas fa-users-cog"></i>&nbsp;Players</a>
        </div>
    </div>
    <div class="col-md-9">
        <div class="rounded mt-1">
            <div class="tab-content" id="nav-tabContent">
                <partial name="~/Areas/Administration/Views/Partials/_SpinnerPartial.cshtml" />
                <div class="tab-pane fade show active" id="list-game" role="tabpanel" aria-labelledby="list-games-list" data-ajax="true" data-ajax-url="/Administration/Games/Create" data-ajax-method="GET" data-ajax-update="#gamesInfo">
                    <div id="gamesMainContainer">

                    </div>
                </div>
                <div class="tab-pane fade" id="list-tournament" role="tabpanel" aria-labelledby="list-profile-list">
                    <div class="border rounded mt-1">
                        <div id="tournamentsMainContainer">

                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>$("#games").click()</script>
}
