@{
    ViewData["Title"] = "Administration";
}
<div class="row">
    <div class="col-md-3 mb-3">
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item"><i class="fas fa-gamepad"></i>&nbsp;Games</a>
            <a class="list-group-item"><i class="fas fa-trophy"></i>&nbsp;Tournaments</a>
            <a class="list-group-item"><i class="fas fa-chess"></i>&nbsp;Tournament formats</a>
            <a class="list-group-item"><i class="fas fa-users"></i>&nbsp;Teams</a>
            <a class="list-group-item"><i class="fas fa-users"></i>&nbsp;Players</a>
            <a class="list-group-item" href="Administration/hangfire"><i class="fas fa-fire"></i>&nbsp;Hangfire</a>
        </div>
    </div>
    <div class="col-md-9">
        <div class="tab-content" id="nav-tabContent">
            @*Alerts render below*@
            <div style="display:none" id="alertPanel"></div>
            @*Main*@
            <partial name="~/Areas/Administration/Views/Shared/Partials/_SpinnerPartial.cshtml" />
            <div class="tab-pane fade show active" id="games" role="tabpanel" aria-labelledby="list-games-list">
                <div id="gamesContentContainer"></div>
            </div>
            <div class="tab-pane fade" id="tournaments" role="tabpanel" aria-labelledby="list-tournaments-list">
                <div id="tournamentsContentContainer"></div>
            </div>
            <div class="tab-pane fade" id="tournamentFormats" role="tabpanel" aria-labelledby="list-formats-list">
                <div id="formatsContentContainer"></div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>$("#gamesItem").click()</script>
    <partial name="~/Views/Shared/Partials/_ValidationScriptsPartial.cshtml" />
}
