@model BESL.Application.Teams.Queries.GetTeamsForPlayer.TeamsForPlayerViewModel
<div class="col-md-8">
    <h4>Team history</h4>
    <small class="text-muted">All dates are in UTC.</small>
    <table class="table table-sm shadow rounded">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Team name</th>
                <th scope="col">Joined On</th>
                <th scope="col">Left On</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var team in Model.PlayerTeams)
            {
                <tr>
                    <th scope="row">@team.TeamName</th>
                    <td>@team.JoinedDate</td>
                    <td>@team.LeftDate</td>
                </tr>
            }
        </tbody>
    </table>
</div>