@model  BESL.Application.Games.Queries.GetAllGames.GamesListViewModel;
@{ 
    Layout = null;
}
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Active Tournaments</th>
            <th scope="col">Registered teams</th>
            <th scope="col" class="text-center"><i class="fas fa-cogs"></i></th>
            <th scope="col" class="text-center"><i class="fas fa-trash-alt"></i></th>
        </tr>
    </thead>
    <tbody>
            @foreach (var game in Model.Games)
            {
            <tr>
                <th scope="row">@game.Id</th>
                <td>@game.Name</td>
                <td>@game.CurrentActiveTournaments</td>
                <td>@game.RegisteredTeams</td>
                <td>
                    <a class="btn btn-info" data-ajax="true" data-ajax-url="Administration/Games/Details/@game.Id" data-ajax-method="GET" data-ajax-update="#mainContainer">Modify</a>
                </td>
                <td>
                    <button type="button" class="btn btn-danger">Delete</button>
                </td>
            </tr>
            }
    </tbody>
</table>