@{ 
    Layout = null;
}

<div class="border rounded mt-1">
    <div class="container-fluid mt-2 mb-3">
        <h3>Create a game</h3>

        <form data-ajax="true" data-ajax-loading="#spinner" data-ajax-url="/Administration/Games/All" data-ajax-method="POST" data-ajax-update="#gamesMainContainer">
            <div class="form-group col-md-6">
                <label for="gameName">Name</label>
                <input type="text" class="form-control" id="gameName" aria-describedby="gameNameHelp" placeholder="Enter name...">
                <small id="gameNameHelp" class="form-text text-muted">The game's title.</small>
            </div>
            <div class="form-group col-md-6">
                <label for="gameDescription">Description</label>
                <textarea class="form-control" id="gameDescription" aria-describedby="gameNameHelp" rows="3" placeholder="Enter description..."></textarea>
                <small id="gameDescHelp" class="form-text text-muted">Description of the game.</small>
            </div>
            <div class="input-group col-md-6 mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile01"
                           aria-describedby="inputGroupFileAddon01">
                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                </div>
            </div>
        </form>

        <form data-ajax="true" data-ajax-loading="#spinner" data-ajax-url="/Administration/Games/All" data-ajax-method="GET" data-ajax-update="#gamesMainContainer">
            <button class="btn btn-primary"><i class="fas fa-arrow-circle-left"></i>&nbsp;Back</button>
        </form>
    </div>
</div>