@model BESL.Application.Tournaments.Queries.GetAllTournaments.AllTournamentsViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="dropdown-menu">
    @foreach (var tournament in Model.Tournaments)
    {
        <a class="dropdown-item" href="/Tournaments/@tournament.Id">@tournament.Name</a>
        <div class="dropdown-divider"></div>
    }
</div>