@using static BESL.SharedKernel.GlobalConstants;
@{
    ViewData["Title"] = "Home Page";
}

@if (!this.User.Identity.IsAuthenticated)
{
    <div class="jumbotron">
        <h1 class="display-4">Welcome to BESL!</h1>
        <p class="lead">Bulgaria's leading platform for eSports!</p>
        <hr class="my-4">
        <p>Get your friends, create a team and join the upcoming tournaments! Play and reach the top of the tournament tables and get the chance to win some peripherall gear by our sponsors ThermalTake and Corsair!</p>
        <a class="btn btn-primary btn-lg" asp-page="/Account/Login" asp-area="Identity" role="button"><i class="fas fa-sign-in-alt"></i>&nbsp;Sign-in</a>
    </div>
}
<vc:front-page-active-tournaments></vc:front-page-active-tournaments>
<vc:current-week-matches></vc:current-week-matches>